@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  letter-spacing: 1.5px;
  line-height: 1.7;
}

#App_main {
  justify-content: center;
  min-height: 100vh;
}
li {
  list-style: none;
}

.App {
  text-align: center;
  position: relative;
}

body {
  font-family: 'Pretendard-Regular',serif;
  color: #4b4b4b;
  background-color: #ebecf6;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

#App_header {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
  opacity: 0.7;
  display: flex;
  padding: 20px 0;
  border-radius: 0 0 30px 30px;
}

header h1 {
  color: black;
  width: 400px;
  text-align: center;
  transition: all 0.3s;
}
header h1:hover {
  color: #9872af;
}
#App_main {
  min-height: 100vh; /* 뷰포트의 전체 높이를 차지 */
  display: flex;
  justify-content: center; /* 가로 방향으로 내용 중앙 정렬 */
  align-items: center; /* 세로 방향으로 내용 중앙 정렬 */
}

#gnb {
  color: black;
  display: flex;
  text-align: center;
  justify-content: space-around;
   width: 950px;
}
#gnb li{
  padding-top: 2px;
  font-size: 2rem;
  transition: all 0.3s;
}
#gnb li:hover {
  background: #dec9ec;
  border-radius: 50%;
}
#sec1 {
  height: 1000px;
  margin-top: 300px;
  border-bottom: 2px dotted white;
}
.first {
  display: flex;
}

#me {
  width: 200px;
  border-radius: 50%;
  margin-left: 200px;
}
#sec1 .first p {
  margin-left: 200px;
}
.txt {
  font-size: 1.8rem;
  height: 400px;
  width: 500px;
  padding-top: 30px;
  text-align: left;
  padding-left: 200px;
}
.img p {
  border-bottom: 2px white dotted;
  padding-top: 5px;
}

.second {
  font-size: 1.1rem;
  margin: 100px 0 0 210px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  visibility: hidden;
  line-height: 2;
  text-align: left;
}
.second span {
  font-size: 1.3rem;
  font-weight: bold;
}

.second.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
#sec2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  visibility: hidden;
}

#sec2.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#sec2 {
  width: 1200px;
  height: 1000px;
  border-bottom: 2px dotted white;
}

#sec2 h2 {
  padding: 50px 0;
  font-size: 2rem;
}


#sec2 .sec2-img .easy{
  justify-content: center;
  display: flex;
}

#sec2 .sec2-img .normal{
  justify-content: center;
  display: flex;
}

#sec2 .sec2-img .hard{
  justify-content: center;
  display: flex;
}





#sec2 img {
  width: 150px;
  height: 150px;
  transition: all 0.3s ;
}

#sec2 img:hover {
  width: 170px;
  height: 170px;
}


#sec3 {
  width: 1200px;
  height: 1000px;
  border-bottom: 2px dotted white;
}