@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  letter-spacing: 1.5px;
  line-height: 1.7;
}

#App_main {
  justify-content: center;
  min-height: 100vh;
}
li {
  list-style: none;
}

.App {
  text-align: center;
  position: relative;
}

body {
  font-family: 'Pretendard-Regular',serif;
  color: #4b4b4b;
  background-color: #ebecf6;
  justify-content: center;
  min-height: 100vh;
}

#App_header {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ebecf6;
  border-bottom: white solid 1px;
  display: flex;
  padding: 20px 0;
  z-index: 999;
}

header h1 {
  font-size: 1.5rem;
  width: 400px;
  text-align: center;
  transition: all 0.3s;
}
header h1:hover {
  color: #9872af;
}
#App_main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gnb {
  display: flex;
  text-align: center;
  justify-content: right;
  width: 500px;
  gap: 20px;
  padding-right: 80px;
}
#gnb li{
  padding-top: 2px;
  font-size: 1.2rem;
  transition: all 0.3s;
}

#gnb li:hover {
  background: #dec9ec;
  border-radius: 50%;
}


.bubble1{
  opacity: 0;
  position: absolute;
  width: 70px;
  height: 70px;
  background: #faffcd;
  border-radius: 50%;
  top: 27%;
  left: -50%;
}
.bubble2{
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #d1c9ff;
  border-radius: 50%;
  bottom: 50%;
  left: -20%;
}
.bubble3{
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #ffc8c8;
  border-radius: 50%;
  top: 80%;
  left: 0;
}
.bubble4{
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #c8fffa;
  border-radius: 50%;
  bottom: 20%;
  right: -30%;
}
.bubble5{
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff7cb;
  border-radius: 50%;
  bottom: 25%;
  right: -80%;
}
.bubble6{
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ffeefb;
  border-radius: 50%;
  left: 50%;
  bottom: 50%;
}
.bubble7{
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #c8c8ff;
  border-radius: 50%;
  left: 30%;
  bottom: 30%;
}
.bubble8{
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #bdffb0;
  border-radius: 50%;
  left: -100%;
  bottom: 10%;
}
.bubble9{
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff4b4;
  border-radius: 50%;
  left: 140%;
  bottom: 80%;
}
.bubble10{
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #c1fae4;
  border-radius: 50%;
  right: 0;
  bottom: 30%;

}
.bubble11{
  opacity: 0;
  position: absolute;
  width: 70px;
  height: 70px;
  background: #ffdada;
  border-radius: 50%;
  top:5%;
  left: 110%;
}
.bubble12 {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #add8e6; /* 연한 파란색 */
  left: 20%;
  top: -17%;
}
.bubble13 {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #ffdade; /* 연한 분홍색 */
  left: 75%;
  top:  -5%;
}

.bubble14 {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #c0efc0; /* 연한 초록색 */
  left: 50%;
  top: -20%;
}
.bubble15 {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #fffacd; /* 레몬색 */
  left: 10%;
  top: -10%;
}

@keyframes bubbleRise {
  0% {
    transform: translateY(100%);
    opacity: 0.5;

  }
  100% {
    transform: translateY(-100%);
    opacity: 0;

  }
  }

.bubble1, .bubble2, .bubble3, .bubble4, .bubble5,
.bubble6, .bubble7, .bubble8, .bubble9, .bubble10,
.bubble11, .bubble12, .bubble13, .bubble14, .bubble15 {

  animation-name: bubbleRise;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.bubble1 { animation-delay: 0.5s; }
.bubble2 { animation-delay: 1s; }
.bubble3 { animation-delay: 1.5s; }
.bubble4 { animation-delay: 2s; }
.bubble5 { animation-delay: 2.5s; }
.bubble6 { animation-delay: 3s; }
.bubble7 { animation-delay: 3.5s; }
.bubble8 { animation-delay: 4s; }
.bubble9 { animation-delay: 4.5s; }
.bubble10 { animation-delay: 5s; }
.bubble11 { animation-delay: 5.5s; }
.bubble12 { animation-delay: 2s; }
.bubble13 { animation-delay: 2.5s; }
.bubble14 { animation-delay: 3s; }
.bubble15 { animation-delay: 3.5s; }


#sec1 {
  height: 1300px;
  margin-top: 250px;
  border-bottom: 1px solid white;
  position: relative;
}

#sec1 .home {
  top: 100px;
  position: absolute;
  left: 220px;
  font-size: 2.8rem;
  height: 300px;
  width: 700px;
  font-weight: 600;
  font-family: 'PyeongChangPeace-Bold',serif;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 0.7; }
}

#sec1 .bg, #sec1 .bg2 {
  animation: fadeInOut 10s ease-in-out infinite;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

#sec1 .bg {
  width: 200px;
  height: 200px;
  top: -30%;
  left: 15%;
  animation-delay: 0s;
}

#sec1 .bg2 {
  width: 100px;
  height: 100px;
  top: 30%;
  left: 75%;
  animation-delay: 0s;
}

#sec1 h2 {
  text-align: left;
  margin-left: -170px;
  font-size: 2rem;
}

.img {
  margin-left: 190px;
  border-bottom: 1px solid white;
  height: 180px;
  padding-top: 700px;
  width: 1000px;
  position: relative;
}

#me {
  margin-left: -850px;
  width: 150px;
  height: 150px;
  border-radius: 10% ;
}

.profile {
  position: absolute;
  left: 170px;
  bottom: 30px;
}
.profile p {
  text-align: left;
  margin: 0;
}

.name {
  color: #9872af;
  font-weight: bold;
  font-size: 1.3rem;
}
.birth {
  font-weight: bold;
  font-size: 1.1rem;
}
.phone {
  font-weight: bold;
  background: white;
  border-radius: 5px;
  margin: 0;
  padding: 0 5px;
  height: 30px;

}
.email {
  font-weight: bold;
  background: white;
  border-radius: 5px;
  margin: 0;
  height: 30px;
  padding: 0 5px;
}

.major {
  font-weight: bold;
  background: white;
  border-radius: 5px;
  margin: 0;
  padding: 0 5px;
  height: 30px;
}

.intro {
  padding-top: 25px;
}

.profile div {
  display: flex;
  gap: 10px;
  height: 12px;
  padding-top: 5px;
}

.Me {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  visibility: hidden;
  line-height: 2;

}
.txt span {
  font-size: 1.3rem;
  font-weight: bold;
}
.txt {
  font-size: 1rem;
  margin: 20px 0 0 190px;
  text-align: left;
  padding-top: 20px;
}

.Me.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
#sec2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  visibility: hidden;
  width: 1200px;
  height: 1000px;
  border-bottom: 1px solid white;
}

#sec2.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#sec2 h2 {
  text-align: left;
  padding: 30px 0 0 190px;
  font-size: 3.2rem;
}

#sec2 h3 {
  text-align: left;
  padding: 0 0 0 190px;
  font-size: 1.6rem;
}

#sec2 .title {
  padding: 5px 0 0 190px;
  text-align: left;
  font-weight: bold;
  font-size: 1.1rem;
}

#sec2 .sec2-img .easy{
  padding-left: 190px;
  justify-content: left;
  display: flex;
}

#sec2 .sec2-img .normal{
  padding-left: 190px;
  justify-content: left;
  display: flex;
}

#sec2 .sec2-img .hard{
  padding-left: 190px;
  justify-content: left;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

#sec2 .easy div {
  background-color: white;
  margin:0 10px 0 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding-left: 5px;
}

#sec2 .normal div {
  background-color: white;
  margin:0 10px 0 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding-left: 5px;
}

#sec2 .hard div {
  background-color: white;
  margin:0 10px 0 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding-left: 5px;
}

#sec2 img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.tools {
  display: flex;
  justify-content: left;
  padding-left: 190px;
}

.tools div {
  background-color: white;
  margin:0 10px 0 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding-left: 7px;
}

#sec2 p {
  padding: 0 8px 0 3px;
  font-size: 0.9rem;
  font-weight: 400;
}

#sec3 {
  width: 1200px;
  height: 1000px;
  border-bottom: 1px solid white;;
}



.typewriter span{
}

.typewriter-cursor {
  display: none;
}

